<p-toast></p-toast>
<div class="container-cadastro">
  <div
    class="grid col-12 justify-content-center align-items-center flex-column"
  >
  <p *ngIf="id === undefined" class="txt">Informe os dados sobre o filme ou série</p>
  <p *ngIf="id !== undefined" class="txt">Atualize os dados sobre {{filmeSerieBody.nome}}</p>
</div>
  <div
    class="grid col-12 justify-content-center align-items-center flex-column"
  >
    <div class="mt-3">
      <input type="text" class="pr-8" [(ngModel)]="filmeSerieBody.nome" pInputText placeholder="Nome do Filme ou série " />
    </div>

    <p class="txt">Selecione a imagem de capa</p>
    <p-fileUpload
    chooseLabel="Escolher"
    name="file[]"
    uploadStyleClass=bg-red-500
    chooseStyleClass=bg-red-500
    cancelStyleClass="bg-red-500"
    [customUpload]="true"
    (uploadHandler)="onUpload($event)"
    [maxFileSize]="200000000"
  >
  </p-fileUpload>

    <span *ngIf="id === undefined" class="p-float-label mt-5">
      <textarea id="float-input" [(ngModel)]="filmeSerieBody.descricao" rows="7" cols="55" pInputTextarea></textarea>
      <label for="float-input">Descrição do filme/série</label>
    </span>
    <textarea class="mt-5" *ngIf="id !== undefined" [(ngModel)]="filmeSerieBody.descricao" rows="7" cols="55" pInputTextarea></textarea>
  </div>
  <div class="btn grid col-12">
    <button
    *ngIf="id === undefined"
      class="btn-prosseguir"
      pButton
      type="button"
      (click)="cadastrarFilmeSerie()"
      label="CADASTRAR"
    ></button>
    <button
    *ngIf="id !== undefined"
    class="btn-prosseguir"
    pButton
    type="button"
    (click)="editarFilme(filmeSerieBody.id, filmeSerieBody)"
    label="SALVAR"
  ></button>
  </div>
</div>
