/* You can add global styles to this file, and also import other style files */
body{
  /* margin: 0; */
  background-image: url('assets/images/plano-de-fundo-preto-cinza.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.p-dataview .p-dataview-header {
background-color: rgb(70, 69, 69) !important;
color: #b81b03;
border: 1px solid #000000 !important;
border-width: 1px 0 1px 0;
padding: 1rem 1rem;
font-weight: 700;
}

.p-dataview .p-dataview-content {
  background-color: rgb(61, 61, 61) !important;
  color: rgb(236, 236, 236) !important;
}

.p-paginator {
  background-color:  rgb(70, 69, 69) !important;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #e51f1f !important;
  border-color: #000000 !important;
  color: #000000 !important;
}

.p-selectbutton .p-button.p-highlight {
  background: #e51f1f !important;
  border-color: #efefef !important;
  color: #ffffff;
}
.p-button {
border: none !important;
}
